@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body {
	margin: 0;
	background: url(../img/background.jpg);
	background-size: cover;
	font-family: Archivo Black;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

.board {
	height: 75px;
	padding: 20px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.create-column {
	background: transparent;
	border:2px solid white;
	color: #FFFFFF;
	border-radius: 5%;
	padding:5px 20px;
	font-size: 20px;
	font-family: Archivo Black;
	text-shadow: 2px 2px #000000;
	cursor: pointer;

}

.column-title {
	display: inline-block;
}

.column-container {
	display: flex;
	padding: 20px;
}

.column {
	flex-grow: 1;
	border-radius: 5%;
	margin: 10px;
	padding: 20px;
	background: rgba(0,0,0,0.6);
	border:5px solid white;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.column-card-list, ul {
	min-height: 200px;
	margin: 0;
}

.btn-delete {
	float: right;
	background: transparent;
	border: 0;
	color: #FFFFFF;
	border-radius: 15%;
	cursor: pointer;
	font-size: 20px;
}

li {
	list-style-type: none;
}

.card-description {
	padding: 15px;
	background: #c1d608;
	box-shadow: 5px 5px 2px rgba(0,0,0,0.75);
	cursor: pointer;
	font-size: 20px;
	text-shadow: 0 0;
	color: #000000;
}

.add-card {
	margin-left: 10px;
	background: transparent;
	border:2px solid white;
	color: #FFFFFF;
	border-radius: 5%;
	padding:5px 20px;
	font-family: Archivo Black;
	text-shadow: 2px 2px #000000;
	cursor: pointer;
}